
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
       url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src:
       url('../fonts/barlow-v5-latin-700.woff2') format('woff2'), 
       url('../fonts/barlow-v5-latin-700.woff') format('woff'); 
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: 
       url('../fonts/barlow-v5-latin-900.woff2') format('woff2'), 
       url('../fonts/barlow-v5-latin-900.woff') format('woff'); 
}


@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
       url('../fonts/fraunces-v10-latin-regular.woff') format('woff');  
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: 
       url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
       url('../fonts/fraunces-v10-latin-900.woff') format('woff');  
}

*{
  box-sizing: border-box;
}

img{
  vertical-align: middle;
}

.container{
  width: 1320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: "Barlow" , "Arial" , sans-serif;
}


.header{
  margin: 44px 0px;
 
}

.header__box{
  display: flex;
  align-items: center;
}
  



.header__box__image{
  margin-right: auto;
  
  
  
}

.header__item{
  display: flex;
}


.header__list{
  list-style: none;


}

.header__link{
  text-decoration: none;
  color:#83888F;
  letter-spacing: 0.92px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;

}
  
.header_link--active{
  margin: 0px 33px;
}


.header__link:hover{
letter-spacing: 0.92px;
color: 
#333D4B;
}




.section__box{
  background-image: url(../image/Bitmap.png);
  background-repeat: no-repeat;
  border-radius: 12px;
  object-fit: cover;
  height: 600px;
  margin-bottom: 20px;
  
  
}


.section__item{
  padding-top: 90px;
  padding-left: 85px;
}
.section__herro{
  font-family: "Fraunces" , "serif";
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.5rem;
  color: #fff;
  width: 493px;
}

.section__text{
  font-size: 16px;
  width: 445px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  margin-bottom: 56px;
  opacity: 0.8;
}

.section__link{
  font-family: "Fraunces" , "serif";
text-decoration: none;
color: #fff;
background-color: #0E8784;
padding: 15px 31px;
font-size: 18px;
line-height: 25px;
font-weight: 900;
border-radius: 6px;
}

.section__link:hover{
  background-color: #66D2CF;
}